.blog-item .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-item .heading .content h2{
    font-size: 3rem;
}
.blog-item .heading .content p{
    font-size: 1.5rem;
}
.blog-item .heading button{
    border: none;
    font-size: 1.2rem;
    text-decoration: underline;
    background-color: var(--main-white);
    font-weight: 600;
}
.blog-item .blogs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    
    .blog{
        width: 22rem;
    }

}
@media screen and (max-width: 435px) {
    
    .blog{
        width: 16rem;
    }

}